# see ignore ifle guidelines at:
# http://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files
#
# ignore compiled python files
*.pyc
# ignore temporary files
*~
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/adapter_clipped_reads_fastq/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.fq.readids
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/adapter_clipped_reads_fastq/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.fq.readids
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/adapter_clipped_reads_fastq/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.fq.readids
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/adapter_clipped_reads_fastq/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.fq.readids
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/adapter_clipped_reads_fastq/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.fq.readids
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/adapter_clipped_reads_fastq/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.fq.readids
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_high_MW_high_MNase.HISTONLY.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/mock_CLIP_low_MW_high_MNase.HISTONLY.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.discardUnclipped.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_high_MNase.HISTONLY.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.discardUnclipped.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_high_MW_low_MNase.HISTONLY.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.discardUnclipped.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_high_MNase.HISTONLY.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.bot_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.bot_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.bot_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.discardUnclipped.top_std_cov.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.top_std_1D.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.top_std_clv.bg
clippyl/sample_data/HITS-CLIP_SLBP_histone_mRNA_01/bwa_samse_hg19/SLBP_CLIP_low_MW_low_MNase.HISTONLY.top_std_cov.bg

